.ModalH{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.zm{
    margin: auto;
    font-family: 'Roboto Slab', serif;
}
.modal-content img{
    width: 100% !important;
    height: auto !important;
}