/* 
@media screen and (max-width:513px){
      .about img{
          width: 10.5rem !important;
          height: 10.5rem !important;
        }
        
    }
    @media screen and (max-width:375px){
      
      .about img{
          width: 8rem;
          height: 7.7rem;
        }
       
    } */