.HomeContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -9px;
}
.card{
    padding: 0 0 10px 35px ;
    /* height:15rem; */
    height: auto;
    

  } 
.card:hover{
  cursor: pointer ;
}

@media screen and (max-width:513px){
  .card-img{
    width: 10rem;
    height: auto;
  }
  .card{
    padding: 0 0 10px 10px ;
    /* height:15rem; */
    height: auto;

  } 
}
@media screen and (max-width:372px){
  .card-img{
    width: 8rem;
    height: auto;
  }
}
