.HeaderContainer{
    position: relative;
    display: flex;
    justify-content:space-between ;
    height: 5rem;
    margin-bottom: 20px;
}
.HeaderImage{
    height: 7rem;
    width: 7rem;
    font-size: x-large;
    /* width: 7em; */

    position: relative;
    top:-20px

}

