.HeaderContainer{
    position: relative;
    display: flex;
    justify-content:center ;
    height: 5rem;
    margin-bottom: 40px;
    

}
.HeaderImage{
    /* height: 11rem; */
    /* width: 11rem; */
    height: 10rem;
    /* width: 7em; */
    padding:0 1em 0 1em ;

    position: relative;
    top:-20px;
    cursor: pointer;

}
@media screen  and (max-width:814px){
    .HeaderImage{
        width: auto;
        height: 8rem;
        font-size: 30rem;
    padding:0;

    }.HeaderContainer{
        
        margin-bottom: 10px;
    }
}
@media screen  and (max-width:350px){
    .HeaderImage{
        width: auto;
        height: 6.8rem;
        font-size: 30rem;
    padding:0;

    }
    .HeaderContainer{
        
        margin-bottom: 10px;
    }
}