@import url('https://font.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
.box{
    position: relative;
    width: 35vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    /* background-image:url('../guitar_1.jpg')  ; */
    background-size: 110%;
    /* background-repeat: no-repeat; */
    border-radius: 10px;
    scale: cover;
    margin:3em;
    /* opacity: ; */
}
.box .glass .content .details{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: .0000001;
    padding: 0;
    left: 0;
    box-sizing: border-box;
    text-align: bottom ;
    transition: 0.5s;
    content: '';
    opacity: 0;
    border-radius: 10px;
}
.box:hover .glass .content .img_box {
    /* background: red; */
    opacity: 0.5;
    transition: 0.5s;

} 
.box:hover .glass .content .details {
    opacity: 1;
    /* bottom: -5; */
    transition: 0.5s;


}

.box:before{
    content: '';
    position: absolute;
    top:-2px;
    left:-2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;

}
.box:after{
    content: '';
    position: absolute;
    top:-2px;
    left:-2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    /* filter: blur(40px); */
    border-radius: 10px;


}
.box:nth-child(1)::before,
.box:nth-child(1)::after
{
    background: linear-gradient(235deg , #89ff00,#010615,#00bcd4);

}
.box:nth-child(2)::before,
.box:nth-child(2)::after
{
    background: linear-gradient(235deg , #ff005e,#010615,#fbff00);
    
}
.box:nth-child(3)::before,
.box:nth-child(3)::after
{
    background: linear-gradient(235deg , #0019f3,#010615,#18ff03);
    
}
.box:nth-child(4)::before,
.box:nth-child(4)::after
{
    background: linear-gradient(235deg , #ff05ff,#010615,#c8ff00);
    
}
.box .glass{
    position: absolute;
    top:0;
    left: 0;
    width:100% ;
    height: 100%;
    display: block;
    background: rgbs(255,255,255,.1);
    pointer-events: none;
    border-radius: 10px;

}
.box:before{
    content: '';
    position: absolute;
    top:-2px;
    left:-2px;
    right: -2px;
    bottom: -2px;
    /* background: #fff; */
    z-index: -1;
    /* filter:blur(10px); */
    border-radius: 10px;

}
.box .content{
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

.box .content img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 10px;
}


@media screen and (max-width: 650px) {
.box{
    height: 17em;

}
    .box .glass .content .details{
    font-size:10px;
}

  }