.AdvContainer{
    padding:10px 40px;
}
.AdvContent  {
    height: 150px;
}

@media screen and (max-width:767px){
    .AdvContainer{
        padding:10px 30px;
    }
}
@media screen and (max-width:510px){
    .AdvContent  {
        height: 120px;
    }
    .AdvContainer{
        padding:0px 20px 0px 30px !important;
    }
    .ImgAdvContentV{
        height:100px !important;
        width: 330px !important;
    }
}
@media screen and (max-width:376px){
    .AdvContainer{
        padding:0px 10px 0 40px !important;
    }
    .ImgAdvContentV{
        height:100px !important;
        width: 270px !important;
    }
}

@media screen and (max-width:320px){
    .AdvContainer{
        padding:0px 26px !important;
    }
}


