.AdvContainer{
    padding:10px 40px;
}
.AdvContent  {
    height: 150px;
}

@media screen and (max-width:767px){
    .AdvContainer{
        padding:10px 30px;
    }
}
@media screen and (max-width:425px){
    .AdvContent  {
        height: 120px;
    }
}
@media screen and (max-width:375px){
    .AdvContainer{
        padding:10px 40px;
    }
}

@media screen and (max-width:320px){
    .AdvContainer{
        padding:10px 26px;
    }
}


